@model IEnumerable<RestaurantOtomasyonu.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div cite="container">
    <p>
        <a asp-action="Create" class="btn btn-primary">Menü Ekle</a>
    </p>
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Resim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Baslik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fiyat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Ozel)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Kategori)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       @if (item.Resim==null)
                        {
                            <img src="~/Site/images/noimage.jpg" style=" width:100px;height:80px;"/>
                        }
                        else
                        {
                                                        <img src="@item.Resim" style=" width:100px;height:80px;"/>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fiyat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>

                    <td>
                        @if (item.Ozel)
                        {
                            <button class="btn btn-success btn-xs"><i class="bi bi-check-circle"></i>EVET</button>
                        }
                        else
                        {
                            <button class="btn btn-danger btn-xs"><i class="bi bi-x-circle"></i>EVET</button>


                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger" >Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}