@model IEnumerable<RestaurantOtomasyonu.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sayi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saat)
            </td>
            <td>
                @item.Tarih.ToShortDateString()
                @*@Html.DisplayFor(modelItem => item.Tarih)*@
            </td>
            <td>
              
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-trash"></i>SİL</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}